.slider {
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 3em;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  overflow: scroll;
  padding: 20px;
}
.slider img {
  width: 25em;
  height: 20rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 1em;
  z-index: 5;
}

.slider img:hover {
  transform: scale(1.1);

  transition: 300ms linear;
}

.slider::-webkit-scrollbar {
  display: none;
}

/* icons */
.tablet-image i {
  font-size: 3em;
  display: flex;
  justify-content: center;
  color: rgb(8, 155, 240);
  margin-top: -60px;
  opacity: 0.98;
}

.kind-image i {
  font-size: 3em;
  display: flex;
  justify-content: center;
  color: rgb(8, 155, 240);
  margin-top: -60px;
  opacity: 0.98;
}

.computer-image i {
  font-size: 3em;
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
  background-color:  rgb(177, 177, 177);;
  margin-top: -52px;
  opacity: 0.7;
}

.reading-image i {
  font-size: 3em;
  display: flex;
  justify-content: center;
  margin-top: -52px;
  opacity: 0.7;
  border-radius: 14px;
  background-color: rgb(177, 177, 177);
  max-width: 25rem;
}
