/* Yasser-uitgelichte activiteiten */
.uitgelichte-activiteiten{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, auto);
   gap: 10px ;
  width: 1440px;
  height: 1199px;
  background-color: rgba(255, 0, 0, 0.05);
}

.Yas-header{
  display: grid;
  grid-column: 5/9;
  grid-row: 1/2 ;
  font-family:Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 49px;
  text-align: center; 
  color: #000000;
}

.Yas-eerstehulp{
  grid-column: 3/12;
  grid-row: 2/3;
  width: 851px;
  height: 275px;
  background: #FFf;
}

.Yas-btnaanmelden{
  font-size: 14px;
  text-align: center;
  width: 105px;
  height: 39px;
  border-radius: 4px;
  background:#0087DC;
  color: #FFf;
}

.Yas-btnlees{
  text-align: center;
  font-size: 14px;
  width: 105px;
  height: 39px;
  font-size: 14px;
  border-radius: 4px;
  text-align: center;
  background:#FFf;
  color: red;

}
/* Yasser-end*/