/* Yasser-uitgelichte activiteiten */
.uitgelichte-activiteiten{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, auto);
  width: 100%;
  height: 1199px;
  background-color: rgba(255, 0, 0, 0.05);
}

.Yas-headertitel{
  display: grid;
  grid-column: 5/9;
  grid-row: 1/2 ;
  font-family:Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 49px;
  text-align: center; 
  color: #000000;
}

.Yas-eerstehulptext, .Yas-onlintaalcafetext, .Yas-oefenuurtext{
  font-size: 1em;
  margin: 0;
}

.Yas-eerstehulp{
  grid-column: 3/12;
  grid-row: 2/3;
  width: 67.5em;
  height: 19.375em;
  background: #FFf;
}

.Yas-taalcafe{
  grid-column: 2/11;
  grid-row: 4/5 ;
  width: 67.5em;
  height: 19.375em;
  background-color: #FFf;
}

.Yas-oefenuur{
  grid-column: 3/12;
  grid-row: 6/7;
  width: 67.5em;
  height: 19.375em;
  background: #FFf;
}

.btn-aanmeldeneerstehulp{
  position: relative;
  left: 0;
  bottom:-2em;
}

.Yas-btnaanmelden{
  font-size: 1.17em;
  text-align: center;
  width: 105px;
  height: 39px;
  border-radius: 4px;
  background-color:#0087DC ;
  color: #FFf;
}

.Yas-btnaanmelden > a:visited{
  color: #FFf;
}

.Yas-btnaanmelden:hover{
  background: #84c6f0;
}

.btn-aanmeldentaalcafe{
  position: relative;
  left:0;
  bottom: -4.5em;
}
.Yas-btnlees{
  text-align: center;
  font-size: 1.17em;
  width: 105px;
  height: 39px;
  font-size: 14px;
  border-radius: 4px;
  text-align: center;
  background:#FFf;
  color: red;
}

.Yas-btnlees > a:visited {
  color: red;
}

.Yas-btnlees:hover{
  background: rgb(250, 243, 243);
}

@media(Max-width:1100px) {
  .Yas-img{
    width: 75px;
    height: 75px;
  }
  .Yas-headertitel{
    color: #0087DC;
  }
  .uitgelichte-activiteiten{
    display: grid;
    grid-template-columns: repeat(5, 1fr) ;
    grid-template-rows: repeat(5,auto);
  }

  .Yas-eerstehulp{
    grid-column: 1/5;
    grid-row: 2/3;
    width: 67.5em;
    height: 19.375em;
    background: #FFf;
  }

  
  
}

/* Yasser-end*/