body{
    margin: 0px;
}
.nav{
    margin: 0px;
    height: 7em;
    background-color: #FF0000;
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.triangle-down {
	width: 0;
	height: 0;
    margin-top: 7em;
	border-left: 2em solid transparent;
	border-right: 2em solid transparent;
	border-top: 4em solid #FF0000;
    display: flex;
    justify-content: center;
    position: absolute;
} 
#Layer_1{
    width: 9em;
    z-index: 1;
    position: relative;
    padding: 1em;
    fill: #ffff;
    
}
